<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AE5Switcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AE5Switcher.Properties.Settings>
            <setting name="SBConnectExe" serializeAs="String">
                <value>C:\Program Files (x86)\Creative\Sound Blaster Connect 2\Creative.SBConnect.exe</value>
            </setting>
            <setting name="VolumeSpeaker" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="VolumeHeadphones" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CloseSBConnect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModeSpeaker" serializeAs="String">
                <value>Stereo</value>
            </setting>
            <setting name="ModeHeadphones" serializeAs="String">
                <value>Normal</value>
            </setting>
        </AE5Switcher.Properties.Settings>
    </userSettings>
</configuration>