<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AudioSwitcher.AudioApi" version="4.0.0-alpha5" targetFramework="net461" />
  <package id="AudioSwitcher.AudioApi.CoreAudio" version="4.0.0-alpha5" targetFramework="net461" />
  <package id="AutoItX.Dotnet" version="3.3.14.2" targetFramework="net461" />
</packages>